main {
    z-index: 10;
    .contentBox {
        display: flex;
        flex-direction: column;
        .mainContent {
            display: flex;
            justify-content: space-between;
            .desc {
                border-right: 10px solid $coldAccentColor;
                padding-right: 25px;
                height: 100%;
                p {
                    font-family: $contentFont;
                    font-size: 2rem;
                    line-height: 1.7;
                    letter-spacing: 0.5px;
                    margin-top: 20px;
                }
                .notice {
                    font-size: 1.5rem;
                }
                a {
                    color: $coldAccentColor;
                    border-bottom: 1px solid transparent;
                    transition: 0.3s all ease-in;
                }
                .japaneseDesc {
                    color: $warmAccentColor;
                }
                a:hover, a:focus {
                    border-bottom: 1px solid $coldAccentColor;
                }
                a:active {
                    padding-bottom: 0px;
                }
            }
            .socials {
                border-left: 10px solid $warmAccentColor;
                ul {
                    margin: 0;
                    padding-left: 25px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 100%;
                    li {
                        list-style: none;
                        a {
                            font-family: $headingsFont;
                            font-weight: 700;
                            font-size: 3.5rem;
                            transition: 0.3s all ease-in-out;
                            border-bottom: 1px solid transparent;
                        }
                    }
                    li:nth-child(2n){
                        a:hover, a:focus {
                            color: $warmAccentColor;
                            border-bottom: 1px solid $warmAccentColor;
                        }
                    }
                    li:nth-child(2n-1) {
                        a:hover, a:focus {
                            color: $coldAccentColor;
                            border-bottom: 1px solid $coldAccentColor;
                        }
                    }
                }
            }
        }
        .getToBlog {
            margin-top: 80px;
            text-align: center;
            a {
                position: relative;
                font-family: $headingsFont;
                font-weight: 700;
                font-size: 3rem;
                color: $warmAccentColor;
                text-transform: uppercase;
                padding: 10px 30px;
                text-shadow: 2px 2px $coldAccentColor;
            }
            a::after,
            a::before {
                position: absolute;
                content: "";
                width: 0;
                height: 0;
                transition: 0.8s all ease-out;
            }
            a::after {
                top: -9px;
                left: -9px;
                border-top: 4px solid transparent;
                border-left: 4px solid transparent;
            }
            
            a::before {
                bottom: -9px;
                right: -9px;
                border-bottom: 4px solid transparent;
                border-right: 4px solid transparent;
            }
            a:hover::after,
            a:hover::before {
                width: calc(100% + 18px);
                height: calc(100% + 18px);
                border-color: $coldAccentColor;
            }
        }
    }
}