header {
    min-height: 200px;
    background-color: $backgroundColor;
    h1 {
        position: relative;
        padding-top: 40px;
        padding-bottom: 15px;
        font-size: 7rem;
        font-family: $headingsFont;
        font-weight: 700;
        border-bottom: 10px solid $warmAccentColor;
        // text-shadow: 12px 12px $coldAccentColor, 14px 14px $warmAccentColor;
    }
    h1:before{
        content: " ";
        position: absolute;
        z-index: 10;
        left: 0px;
        right: 0px;
        bottom: -20px;
        border: 5px solid $coldAccentColor;
    }
    .desc {
        margin-top: 40px;
        p {
            font-family: $contentFont;
            font-size: 1.7rem;
            line-height: 1.7;
            letter-spacing: 0.5px;
            margin-top: 20px;
        }
        .notice {
            font-size: 1.3rem;
            font-style: italic;
        }
        a {
            color: $coldAccentColor;
            border-bottom: 1px solid transparent;
            transition: 0.3s all ease-in;
            padding-bottom: 4px;
        }
        .japaneseDesc {
            color: $warmAccentColor;
        }
        a:hover, a:focus {
            border-bottom: 1px solid $contentColor;
        }
        a:active {
            padding-bottom: 0px;
        }
    }
}