header {
    min-height: 200px;
    background-color: $backgroundColor;
    h1 {
        position: relative;
        padding-top: 40px;
        padding-bottom: 15px;
        font-size: 7rem;
        font-family: $headingsFont;
        font-weight: 700;
        border-bottom: 10px solid $warmAccentColor;
        // text-shadow: 12px 12px $coldAccentColor, 14px 14px $warmAccentColor;
    }
    h1:before{
        content: " ";
        position: absolute;
        z-index: 10;
        left: 0px;
        right: 0px;
        bottom: -20px;
        border: 5px solid $coldAccentColor;
    }
}